/* EL SIGUIENTE COLOR PERTENECE AL AZUL QUE ESTÁ EN EL LOGO
color: #4cbfd5; */

.header-home {
  width: 100%;
  height: 9vh;
  z-index: 999;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
}

.header-home-box{
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-box {
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-decoration: none;
}

.icon-box:hover {
  animation: subir-bajar 1s infinite;
}

@keyframes subir-bajar {
  50% {
    transform: translateY(-10%);
  }
}

.icon-txt {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: black;
}

.logo-header {
  height: 2.6rem;
}

.profile-info{
  padding: 2px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #dcdcdc solid 1px;
  background-color: white;
}

.profile-image{
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: white;
}

.profile-info p{
  margin: 0;
  font-size: 1rem;
}

.profile-user{
  font-weight: 700;
}

.profile-rol{
  padding: 1.5px 3px;
  font-weight: 700;
  border-left: 2px solid #4cbfd5;
  color: #4cbfd5;
}

.nav {
  width: 220px; /* Ancho del menú desplegable */
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  border: #dcdcdc solid 1px;
}

.filter-nav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.box-input-search {
  width: 22rem;
  border-radius: 16px;
  position: relative;
  display: flex;
  border: #dcdcdc solid 1px;
}

.box-input-search input {
  width: 100%;
  padding: 4px 0;
  padding-left: 0.5rem;
  padding-right: 1.8rem;
  border-radius: 16px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2px;
  border: none;
  background-color: white;
}

.box-input-search input:focus {
  outline: 2px solid #4cbfd5;
}

.icon-search {
  height: 1.1rem;
  width: 1.1rem;
  right: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: absolute;
  color: #4cbfd5;
}

.menu-toggle {
  padding: 4px;
  font-size: 1.4rem;
  right: 20px; 
  border-radius: 4px;
  position: absolute;
  color: white;
  background-color: #4cbfd5;
  cursor: pointer;
  z-index: 999;
}

.nav.open {
  transform: translateX(0);
}

.links-nav {
  padding-top: 20px;
  gap: 1.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
}

.link-header {
  margin-bottom: 10px;
  display: block;
  padding: 5px 12px;
  font-size: 1rem;
  border-radius: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #4cbfd5;
}

.link-header:hover {
  box-shadow: 1px 1px 3px #bdbdbd;
  background-color: #4cbfd5;
  color: white;
}

.link-header-b{
  box-shadow: 1px 1px 3px #dcdcdc;
  background-color: #4cbfd5;
  color: white;
}

.link-header-b:hover{
  background-color: #239eb7;
  color: white;  
  transition: 0.4s;
}

.logout {
  padding: 5px 12px;
  font-size: 1rem;
  border-radius: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #4cbfd5;
}

.logout:hover {
  box-shadow: 1px 1px 3px #dcdcdc;
  background-color: #4cbfd5;
  color: white;
}

.link-header-cart {
  width: 3rem;
  padding: 4px 10px;
  font-size: 1.5rem;
  border-radius: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #4cbfd5;
  border: #dcdcdc solid 1px;
  background-color: white;
}

.link-header-cart:hover {
  box-shadow: 1px 1px 3px #dcdcdc;
  background-color: #4cbfd5;
  color: white;
}

.link-header-cart-b {
  box-shadow: 1px 1px 3px #bdbdbd;
  background-color: #4cbfd5;
  border: 0;
  color: white;
}

.link-header-cart-b:hover{
  background-color: #239eb7;
  color: white;  
  transition: 0.4s;
}

/* MEDIA QUERY DEL HEADER */

@media screen and (max-width: 600px) {
  .header-home {
    padding: 0;
    height: 14vh;
    position: relative;
  }

  .header-home-box{
    width: 100%;
    flex-direction: column;
  }

  .filter-nav {
    height: 100%;
  }

  .box-input-search {
    width: 9rem;
    font-size: 0.8rem;
  }

  .box-input-search input {
    width: 9rem;
    padding: 2px 0;
    padding-left: 1.5rem;
  }

  .icon-search {
    width: 12%;
    padding: 0.2rem;
  }

  .icon-box {
    width: 10rem;
  }

  .icon-txt {
    padding-left: 0;
    font-size: 1.5rem;
  }
  
  .logo-header {
    height: 2.6rem;
  }
  
  .box-select-category {
    width: 9rem;
    font-size: 0.8rem;
  }
  
  .box-select-category select {
    width: 8rem;
    padding: 2px 6px;
  }
  
  .links-nav {
    gap: 3rem;
  }
  
  .logout {
    padding: 2px 8px;
    font-size: 0.8rem;
  }
  
  .link-header {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
  
}

@media screen and (max-width: 480px) {
  .header-home {
    padding: 0;
    height: 14vh;
    position: relative;
  }

  .header-home-box{
    width: 100%;
    flex-direction: column;
  }

  .filter-nav {
    height: 100%;
  }

  .box-input-search {
    width: 9rem;
    font-size: 0.8rem;
  }

  .box-input-search input {
    width: 9rem;
    padding: 2px 0;
    padding-left: 1.5rem;
  }

  .icon-search {
    width: 12%;
    padding: 0.2rem;
  }

  .icon-box {
    width: 10rem;
  }

  .icon-txt {
    padding-left: 0;
    font-size: 1.5rem;
  }
  
  .logo-header {
    height: 2.6rem;
  }
  
  .box-select-category {
    width: 9rem;
    font-size: 0.8rem;
  }
  
  .box-select-category select {
    width: 8rem;
    padding: 2px 6px;
  }
  
  .links-nav {
    gap: 3rem;
  }
  
  .logout {
    padding: 2px 8px;
    font-size: 0.8rem;
  }
  
  .link-header {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
  
}
