.product-container-home {
  width: 100%;
  padding-top: 5rem;
  gap: 2rem 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-title-sampler {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title-sampler {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  /* border-bottom: 3px solid #b1e7f0; */
}

.product-card-home {
  width: 20rem;
  height:24rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #dcdcdc;  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.product-card-home:hover {
  transform: scale(1.05);
}

.card-btn-home {
  width: 6rem;
  padding: 2px;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 8px;
  position: absolute;
  color: #4cbfd5;
  border: 1px solid #b1e7f0;
  text-align: center;
  text-decoration: none;
  background-color: #d6f4f7;
  box-shadow: 1px 1px 3px #efefef;
}

.card-btn-home:hover {
  background-color: white;
  box-shadow: 1px 1px 3px #efefef;
}

.box-img-home {
  height: 20rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-img-home {
  width: 100%;
  border-radius: 8px;
  max-height: 100%;
  display: block;
  border: 1px solid #dcdcdc;
  /* object-fit: cover; */
}

.prod-title-home {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 700;
  /* text-align: center; */
}

.dates-box-descrip {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.value-descrip-home {
  height: 32px;
  margin: 0;
  line-height: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
}

.dates-box-one {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.subtitle-home {
  margin: 0;
  height: 0.6rem;
  letter-spacing: 0.05rem;
  font-size: 0.5rem;
  color: #bdbdbd;
}

.value-home {
  margin: 0;
  height: 20px;
  line-height: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
}

.dates-box-two {
  width: 100%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  flex-direction: column;
}

.value-home-price {
  margin: 0;
  height: 20px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #4cbfd5;
}

.open-modal-home{
  bottom: 10px;
  left: 15px;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  text-align: center;
  color: #4cbfd5;
}

.container-modal-home {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.comments-container{
  height: auto;
  min-width: 40%;
  padding: 1rem;
  border-radius: 4px;
  gap: 1.5rem 0;
  background-color: white;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.comments-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.name-user {
  /* width: 12rem; */
  margin-bottom: 0.5rem;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0.5px black;
  border-bottom: #4cbfd5 solid 2px;
  color: #4cbfd5;
  align-self: center;
}

.comment-tarjet {
  margin: 0;
}

.comment-state {
  padding: 0;
  margin: 0.5rem 0;
  left: 10px;
  top: 0;
  width: 4rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 20px;
  text-shadow: 1px 1px 0.5px black;
  background-color: #4cbfd5;
  color: white;
  position: absolute;
}

.close-modal-home{
  top: 0;
  right: 0;
  font-size: 1.5rem;
  position: absolute;
  color: #bdbdbd;
}

@media screen and (max-width: 992px) {

  .product-card-home {
    width: 21rem;
    margin-left: 5rem;
  }

}

@media screen and (max-width: 768px) {

  .product-container-home {
    padding-top: 2rem ;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .product-title-sampler {
    font-size: 2rem;
    margin-right: 140px;
  }

  .product-card-home {
    background-color: white;
    transition: transform 0.3s ease;
    border: 1px solid #c1e1f6;
    margin-left: 0;
  }

}

@media screen and (max-width: 600px) {

  .product-container-home {
    padding-top: 2rem ;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .product-title-sampler {
    margin-right: 115px;
    font-size: 2rem;
  }

  .product-card-home {
    width: 19rem;
    margin-left: 0;
  }

}

@media screen and (max-width: 480px) {

  .product-container-home {
    padding-top: 2rem ;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-left: 2rem; */
  }

  .product-title-sampler{
    /* margin: 0; */
    margin-right: 90px;
    font-size: 2rem;
  }

  .product-card-home {
    margin-left: 0;
    width: 17rem;
  }

  .prod-title-home {
    text-align: center;
    margin-bottom: 3rem;
  }

  .value-descrip-home {
    margin-bottom: 2rem;
  }

}
