.orders-container {
  width: 100%;
  padding-top: 14rem;
  padding-bottom: 4rem;
  gap: 6rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .orders-container li {
    width: 40%;
    border: 2px solid #c1e1f6;
    border-radius: 8px;
  }
  
  .subtitles {
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
    border: 2px solid #afb2b3;
  }

  .nameProductOrders {
    width: 21%;
  }

  .descriptionOrders {
    width: 30%;
  }
  
  .product-container {
    border: solid 2px #afb2b3;
    height: 70px;
    text-align: center;
  }

  .product-container td {
    border: 2px solid #afb2b3;
  }
  
  /* .product-container li {
    padding: 1rem;
    width: 90%;
    border: 2px solid #2a2b2c;
    box-shadow: 1px 1px 4px rgb(220, 220, 220);
    border-radius: 8px;
    margin-bottom: 5%;
  } */
  
  /* .invoice-item {
    color: black;
    padding-top: 55%;
  } */

  .form-control {
    width: 25%;
    margin-top: 1%;
    margin-left: 35%;
    border: 2px solid #c1e1f6;
    background-color: #c1e1f6;
  }

  .form-control:hover {
    color: #56aee0;
    background-color: white;
  }