.orders-container {
  min-height: 91vh;
  width: 100%;
  margin: 0;
  padding-top: 6rem;
  padding-bottom: 4rem;
  gap: 2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-title-orders {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title-orders {
  margin: 0;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}

.orders-container li {
  padding: 0.5rem;
  width: 80%;
  border-radius: 8px;
  gap: 1rem 0;
  border: 1px solid #dcdcdc;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.user-info{
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.user-info p{
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #dcdcdc;
  /* background-color: #d6f4f7; */
  background-color: white;
}

.user-info p span{
  padding: 0 1rem;
  font-weight: 500;
  border-radius: 8px;
}

.info-orders-manag {
  width: 98%;
}