.container-update-shop {
  min-height: 91vh;
  padding-top: 9rem;
  gap: 5rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ESTILOS FORMULARIO */
.input-product {
  font-size: 1rem;
  border: 1px solid #d1d1d1;
}

.input-product:focus {
  outline-style: auto;
  outline-color: #7bd6e5;
}

/* ESTILOS TABLA */
.info-prod-shops {
  width: 78%;
}

.tr-table {
  text-align: center;
  vertical-align: middle;
}

.tr-table td img{
  height: 6rem;
  width: 7rem;
}

.btn-edit-store {
  background-color: #4cbfd5;
}

.btn-edit-store:hover {
  background-color: #7bd6e5;
}

.btn-new-prod{
  background-color: #4cbfd5;
}

.btn-new-prod:hover{
  background-color: #7bd6e5;
}

.btn-update-prod{
  background-color: #4cbfd5;
}

.btn-update-prod:hover{
  background-color: #7bd6e5;
}

.btn-cancel-prod{
  background-color: #aaaaaa;
}

.btn-cancel-prod:hover{
  background-color: #bdbdbd;
}

.btn-edit-prod{
  background-color: #20809a;
}

.btn-edit-prod:hover {
  background-color: #239eb7;
}

.btn-delete-prod{
  background-color: #888888;
}

.btn-delete-prod:hover{
  background-color: #aaaaaa;
}