.container {
   height: 100vh;
}

.title-create-prod {
margin-left: 24%;
}

.label-product {
   width: 25%;
   margin-left: 7%;
   font-weight: 600;
}

.input-product {
   width: 340%;
   margin-top: 3%;
   margin-bottom: 6%;
   padding-left: 5%;
   background-color: #F8F8F8;
}

.select-img-prod {
   padding: 0.2rem 0.8rem;
   font-weight: 600;
   border-radius: 4px;
   background-color: #DCDCDC;
   cursor: pointer;
   margin-left: 7%;
}

.result-select-img {
   padding: 0.2rem;
   margin: 0;
   border-radius: 0px 4px 4px 0px;
   border: 2px solid #DCDCDC;
}

.btn-update-prod{
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-color: #1775b2;
 }

 .btn-update-prod:hover{
    background-color: #c1e1f6;
    color: white;
    box-shadow: 1px 1px 2px 
 }

 .btn-cancel-prod{
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-color: #d70000;
 }

 .btn-cancel-prod:hover{
    background-color: #ffc8c8;
    color: white;
    box-shadow: 1px 1px 2px 
 }

 .btn-new-prod{
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #c1e1f6;
 }

 .btn-new-prod:hover{
  background-color: white;
  color: #2493d3;
  box-shadow: 1px 1px 2px 
 }

 .table-titles-prod{
    text-align: center;
    border: 1px solid #dcdcdc;
 }
 
 .table-body-prod{
    text-align: center;
    border: 1px solid #dcdcdc;
    margin-bottom: 12%;
 }

 .btn-edit-prod {
    padding: 6px 8px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-color: #c1e1f6;
  }
  
  .btn-edit-prod:hover{
      color: white;
      background-color: #e3f0fb;
  }

  .btn-delete-prod {
    padding: 6px 8px;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #d70000;
  }
  
  .btn-delete-prod:hover{
    background-color: #ffc8c8;
    color: white;
  }
 
