.shops-container-historial {
    width: 100%;
    padding-top: 14rem;
    padding-bottom: 4rem;
    gap: 6rem 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-title-historial {
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.product-title-historial {
    margin: 0;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 800;
    bottom: -5rem;
    -webkit-text-stroke: 1px #277075;
    position: absolute;
    text-align: center;
    text-shadow: 4px 4px #ececec;
    font-style: italic;
}

.shop-card-historial {
    height: auto;
    padding: 1rem;
    width: 35%;
    border: 2px solid #2874a7;
    box-shadow: 1px 1px 4px rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    background-color: whitesmoke;
}

.shops-info {
    width: 100%;
}

.invoice-item {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
}

/* Estilos para la modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.theadUserHistory th{
    text-align: center;
    border: solid 2px #afb2b3;
}

.productName {
    width: 21%;
}

.description {
    width: 30%;
}

.prize {
    width: 13%;
}

.state {
    width: 13%;
}

.cant {
    width: 13%;
}

.action {
    width: 13%;
}

.tdBody td {
    text-align: center;
}

.tdUserHistory {
    border: solid 2px #afb2b3;
    height: 70px;
}

.tdDescription {
    text-align: center;
}